# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Code env
.idea
*.egg-info

# Private files
gibson_data_links.txt
umer_research
research
*.zip

# Data / Models
video_dir
noise_models
taskonomy_tf_models
data
configs
tb
*.log